<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <disabledPackageSources>
        <add key="https://lidlplus-dev-nugetserver.azurewebsites.net/nuget" value="true" />
        ... Other packageSources you do NOT want
    </disabledPackageSources>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>